﻿@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4 mb-4">Добро Пожаловать</h1>
	<div class="col-md-5 mx-auto mb-5 text-left">
		<h4>Проект - Выпадающий список</h4>
		<p class="mb-2">Выполнил: Дегтярёв Валерий</p>
		<p>Группа: 3ПИ</p>
	</div>
	<a asp-controller="DropdownList" asp-action="Index" class="btn btn-primary">Пример</a>
</div>
