﻿@model IEnumerable<DropdownListWithDatabase.Models.Person>

@{
	ViewData["Title"] = "Persons List";
}

<h1 class="text-center">Налогоплательщики</h1>

<p>
	<a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MiddleName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PassportSeries)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PassportSerialNumber)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Any())
		{
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.FirstName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LastName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.MiddleName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PassportSeries)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PassportSerialNumber)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
						<a asp-action="Details" asp-route-id="@item.Id"class="btn btn-primary">Details</a>
						<a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger">Delete</a>
					</td>
				</tr>
			}
		}
		else
		{
			<h3 class="text-danger">No Items in the Database</h3>
		}
	</tbody>
</table>
