﻿@model DropdownListWithDatabase.Models.Person

@{
	ViewData["Title"] = "PersonForm";
}

<h1 class="text-center">Person Form</h1>

@if (Model.Id == 0)
{
	<h4>Create Person</h4>
}
else
{
	<h4>Edit: @Model.FirstName @Model.LastName : @Model.PassportSeries : @Model.PassportSerialNumber</h4>
}

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Save">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="MiddleName" class="control-label"></label>
				<input asp-for="MiddleName" class="form-control" />
				<span asp-validation-for="MiddleName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PassportSeries" class="control-label"></label>
				<input asp-for="PassportSeries" class="form-control" />
				<span asp-validation-for="PassportSeries" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PassportSerialNumber" class="control-label"></label>
				<input asp-for="PassportSerialNumber" class="form-control" />
				<span asp-validation-for="PassportSerialNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
