﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Проект - Калькулятор</h2>
    <p>Выполнил: Дегтярёв Валерий</p>
    <p>Группа: 3ПИ</p>
	<a asp-controller="Calculator" asp-action="Index" class="btn btn-primary">Калькулятор</a>
</div>
