body {
	background-color: antiquewhite;
	font-family: "Caveat", cursive;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.center {
	text-align: center;
	align-self: center;
}

.navbar {
	width: 100%;
	font-size: 15px;
	float: left;
	align-content: center;
}

.navbar ul {
	padding: 0;
	margin: 0;
	display: flex;
	list-style: none;
	justify-content: center;
}

.navbar li {
	margin-right: 20px;
}

.navbar a {
	font-size: large;
	color: black;
}

.to-center {
	width: 50%;
	margin: 0 auto;
}

.title {
	font-size: xx-large;
	margin: 0;
}

.main-title {
	font-size: 45px;
	margin: 0;
}

.small-title {
	font-size: medium;
	margin: 0;
}

.text-information {
	font-size: 25px;
	margin-top: 10px;
	word-wrap: normal;
}

.mb-2 {
  margin-bottom: 4px;
}

.mb-4 {
  margin-bottom: 8px;
}

.mb-8 {
  margin-bottom: 30px;
}