body {
  font-family: "Comfortaa", cursive;
  background-color: #ffffff;
}

.container {
  max-width: 70%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.result {
  font-size: large;
  font-weight: bold;
  color: rebeccapurple;
}

input {
  font-weight: bold;
  font-size: large;
}
