body {
	font-family: "Comfortaa", cursive;
	background-color: #ffffff;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 70%;
	margin: auto;
}

.nav {
	max-width: 70%;
	margin: auto;
}

.text-center {
	text-align: center;
}

.result {
	font-size: large;
	font-weight: bold;
	color: rebeccapurple;
}

.to-center {
	width: 50%;
	margin: 0 auto;
}

/* -------------------------------- 
	HEADER TITLE */

.header {
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	background: linear-gradient(135deg, #f26dab, #d99c2b);
}

.header h2 {
	margin: 0;
	padding: 30px 0px;
}

/* -------------------------------- 
	NAVBAR */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;

	background-color: #fff;
	box-shadow: 0px 3px 10px #e9e9e9;

	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

li {
	float: left;
}

li a {
	display: block;
	color: #000;
	padding: 20px 16px;
	text-align: center;
	text-decoration: none;
}

li a.active {
	background-color: #f26dab;
	color: white;
}

li a:hover:not(.active) {
	background-color: #f26dab;
	color: white;
}

.nav-vertical ul {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	height: 100%;

	background-color: #f1f1f1;
	box-shadow: 0;

	overflow: auto;
	float: right;
}

.nav-vertical li {
	float: none;
}

/* -------------------------------- 
	DROPDOWN MENU */

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: fixed;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* -------------------------------- 
	NEWS */
.news-container {
	float: left;
	width: 70%;
}

.news {
	display: block;
	float: left;
	margin: 10px 10px;
}

.news img {
	width: 100%;
}

.news p {
	text-align: justify;
}

.news h2 {
	text-align: left;
}

.news input {
	margin: 0;
	color: #fff;
	padding: 10px 15px;
	background-color: #383838;
	border: 0;
	border-radius: 10px;
}

.news img:hover {
	opacity: 0.8;
}

.news input:hover {
	background-color: #f26dab;
}

/* -------------------------------- 
	SHOP */

.shop-item {
	display: block;
	float: left;
	width: 30%;
	margin: 10px 10px;
}

.shop-item img {
	width: 100%;
}

.shop-item p {
	text-align: justify;
}

.shop-item h2 {
	text-align: left;
}

.shop-item input {
	margin: 0;
	color: #fff;
	padding: 10px 15px;
	background-color: #383838;
	border: 0;
	border-radius: 10px;
}

/* -------------------------------- 
	ABOUT US */

.about {
	width: 100%;
}

.about p {
	text-align: justify;
	min-width: 275px;
}

.about-logo {
	width: 50%;
	min-width: 275px;
}

.about-logo img {
	width: 100%;
	margin-top: 50px;
}
