﻿@model IEnumerable<Person>

@{
	ViewData["Title"] = "Dropdown List Example";
}

<h1 class="mb-5">Выпадающий список : Поиск по базе данных</h1>

@if (Model != null && Model.Any())
{
	<form asp-action="Result" class="col-md-12">
		<div class="row mx-auto">
			<div class="form-group col-md-4">
				<input id="search" class="form-control" placeholder="Введите номер паспорта" />
			</div>
			<div class="form-group col-md-8">
				<select id="list" asp-items="@(new SelectList(Model, "Id", "FirstName"))" name="id" class="custom-select">
					<option value="" selected>-- Выберите один --</option>
				</select>
			</div>
			<div class="form-group col-md-12">
				<input type="submit" value="Отправить" class="btn btn-primary btn-block" />
			</div>
		</div>
	</form>
}
else
{
	<h3 class="text-danger">No Items in the Database</h3>
}

@section Scripts {

	<script>
		$(document).ready(function () {
			$("#search").on("change", function () {
				$list = $("#list");
				$.ajax({
					url: "api/Person",
					type: "GET",
					data: { serialNumber: $("#search").val() }, //id of the state which is used to extract cities
					traditional: true,
					success: function (result) {
						$list.empty();
						$.each(result, function (i, item) {
							$list.append('<option value="' + item["id"] + '"> ' + item["firstName"] + ' </option>');
						});
					},
					error: function () {
						alert("Something went wrong call the police");
					}
				});
			});
		});
	</script>

}
