﻿@model DropdownListWithDatabase.Data.DropdownResultVM

@{
	ViewData["Title"] = "Result";
}

@if (Model.Person != null)
{
	<h2 class="text-success">@Model.Message</h2>
	<div>
		<h4>Налогоплательщик</h4>
		<hr />
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Person.FirstName)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Person.FirstName)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Person.LastName)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Person.LastName)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Person.MiddleName)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Person.MiddleName)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Person.PassportSeries)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Person.PassportSeries)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Person.PassportSerialNumber)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Person.PassportSerialNumber)
			</dd>
		</dl>
	</div>
}
else
{
	<h2 class="text-danger">@Model.Message</h2>
}
