﻿@model CalculationInfoDTO

@{
	ViewData["Title"] = "Index";
}

<h1>Калькулятор</h1>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Calculate">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="X" class="control-label"></label>
				<input asp-for="X" class="form-control" />
				<span asp-validation-for="X" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Y" class="control-label"></label>
				<input asp-for="Y" class="form-control" />
				<span asp-validation-for="Y" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Operation" class="control-label"></label>
				<select asp-for="Operation"
						asp-items="Html.GetEnumSelectList<CalculatorMachine.Operation>()"
						class="form-control">
				</select>
				<span asp-validation-for="Operation" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Посчитать" class="btn btn-primary" />
			</div>
		</form>

		<h3>Результат</h3>
		@if (Model.ErrorMessage != null && Model.ErrorMessage.Length > 0)
		{
			<p class="text-danger font-weight-bold">@Model.ErrorMessage</p>
		}
		else
		{
			<p class="text-success font-weight-bold">@Model.Result</p>
		}

	</div>
</div>