body {
    font-family: 'Comfortaa', cursive;
  background-color: #ffffff;
}

.container {
  max-width: 70%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.table-style {
  border-collapse: collapse;
  width: 100%;
}

.table-style td,
.table-style th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-style tr th {
    text-align: center;
  }

.table-style th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6a4caf;
  color: white;
}

.table-style tr:nth-child(even) {
  background-color: #f3eff7;
}

.table-style tr:hover {
  background-color: #e4ddeb;
}
