body {
	background-color: #fff;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#image-map-header {
	text-align: center;
	margin-bottom: 46px;
}

#image-map-header h1 {
	text-transform: uppercase;
}

#map-section {
	width: 800px;
	height: 100%;
	margin: auto;
	text-align: center;
}

#map-section .image-preview {
	width: 800px;
	height: 100%;
}
