body {
	font-family: "Comfortaa", cursive;
	background-color: #ffffff;
}

.container {
	max-width: 70%;
	margin: auto;
}

.text-center {
	text-align: center;
}

.result {
	font-size: large;
	font-weight: bold;
	color: rebeccapurple;
}

select {
	font-size: medium;
}

input[type="text"],
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: large;
}

input[type="text"]:hover,
select:hover {
	border-color: #b070c4;
}

input[type="submit"],
input[type="button"] {
	width: 100%;
	background-color: #b070c4;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: large;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	background-color: #a563b9;
}

.order-price {
	font-size: large;
	text-align: center;
}

/* form {
	animation-name: form;
	animation-duration: 3s;
} */

form input:not([type="button"]):not([type="submit"]):hover,
select:hover {
	animation-name: input;
	animation-duration: 0.5s;
}

@keyframes form {
	from {
		opacity: 0%;
		margin-right: 30%;
	}
	to {
		opacity: 100%;
		margin-right: 0%;
	}
}

@keyframes input {
	from {
		background-color: #e7d6ec;
	}
	to {
		background-color: white;
	}
}
